{% extends './layout.html' %}

{% block title %}Asistente{% endblock %}

{% block body %}
    <h2 class="title">Asistente</h2>
    <div class="chat-container" id="chat-container">
        {% for message in chat_history %}
            <div class="chat-message {{ message.role }}">
                <p>{{ message.content | safe }}</p>
            </div>
        {% endfor %}
    </div>
    <form method="POST" class="chat-form">
        <input type="text" id="user_input" name="user_input" placeholder="Escribe tu pregunta o solicitud..." required>
        <button type="submit"><i class='bx bxs-send'></i></button>
    </form>
{% endblock %}
