{% extends './layout.html' %}

{% block title%}Historial{% endblock %}

{% block body %}
<h1 class="title">Historial de Sesiones</h1>
    <div class="historial__container">
        {% for sesion in data['sesiones'] %}
        
            <div class="historial__card">
                <h2 class="historial__title">Sesión {{ sesion[0] }}</h2>
                <p class="historial__desc">Fecha: {{ sesion[1] }}</p>
                <p class="historial__desc">Duración: {{ sesion[2] }}</p>
                <a class="" href="{{ url_for('detalle_sesion', id_sesion=sesion[0]) }}">Ver más</a>
            </div>
        
        {% endfor %}
    </div>
<p>{{ data['mensaje'] }}</p>
{% endblock %}