<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@200,400,500,600,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>
</head>
<body>
    <div class="header">
        <h3 class="logo">GymCoach</h3>
        <a href="" class="profile" id="profile-link">
            <i class='bx bx-user'></i>
            <p>Perfil</p>
        </a>
    </div>
    <div id="profile-modal" class="modal">
        <div class="modal-content">
            <i class='bx bx-x close-btn'></i>
            <h2 class="modal-title">Información del Usuario</h2>
            <div class="modal-container">
                <div class="modal-column">
                    <p class="modal-text">Nombre</p>
                    <p class="modal-input">{{ nombre }}</p>
            
                    <p class="modal-text">Apellido</p>
                    <p class="modal-input">{{ apellido }}</p>
            
                    <p class="modal-text">Correo</p>
                    <p class="modal-input">{{ correo }}</p>
                </div>
                <div class="modal-column">
                    <p class="modal-text">Altura</p>
                    <p class="modal-input"> {{ altura }} m</p>
            
                    <p class="modal-text">Peso</p>
                    <p class="modal-input">{{ peso }} kg</p>
            
                    <p class="modal-text">Edad</p>
                    <p class="modal-input"> {{ edad }} años</p>
                </div>
            </div>
            

            
        </div>
    </div>
    <div class="page">
        <div class="menu">
            <ul class="menu__lista">
                <a href="{{ url_for('dashboard') }}" class="menu__icon">
                    <i class='bx bx-bar-chart-square'></i>
                    <p>Dashboard</p>
                </a>
                
                <a href="{{ url_for('rutinas') }}" class="menu__icon">
                    <i class='bx bx-book-content'></i>
                    <p>Rutinas</p>
                </a>
                <a a href="{{ url_for('historial') }}" class="menu__icon">
                    <i class='bx bx-history'></i>
                    <p>Historial</p>
                </a>
                <a a href="{{ url_for('asistente') }}" class="menu__icon">
                    <i class='bx bx-support' ></i>
                    <p>Asistente</p>
                </a>
            </ul>
            <a class="logout" href="{{ url_for('logout') }}">Cerrar sesión</a>
        </div>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    
</body>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</html>