<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@200,400,500,600,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login-register.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            <label for="usuario"><i class='bx bx-user' ></i> Usuario</label>
            <input type="text" name="usuario" placeholder="Usuario" required>
            <label for="password"><i class='bx bx-key' ></i> Contraseña</label>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <div class="extra">
                <p class="extra-text">¿No tienes una cuenta?</p>
                <a class="extra-link" href="{{ url_for('register') }}">Regístrate</a>
            </div>
            <button type="submit" class="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>