<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@200,400,500,600,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login-register.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Registro</title>
</head>
<body>
    <div class="container register">
        <h2>Registro</h2>
        <form method="POST">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" placeholder="Usuario" required>
            <div class="flex">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="Nombre" required>
                </div>
                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" placeholder="Apellido" required>
                </div>
            </div>
            <label for="password">Contraseña</label>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <label for="correo">Correo</label>
            <input type="email" name="correo" placeholder="Correo" required>
            <div class="flex">
                <div>
                    <label for="altura">Altura</label>
                    <input type="number" step="0.01" name="altura" placeholder="0.00 m" required>
                </div>
                <div>
                    <label for="peso">Peso</label>
                    <input type="number" step="0.01" name="peso" placeholder="0.00 kg" required>
                </div>
            </div>
            <label for="edad">Edad</label>
            <input type="number" name="edad" placeholder="0" required>
            <div class="extra">
                <a class="extra-link" href="{{ url_for('login') }}">Iniciar sesión</a>
            </div>
            <button type="submit" class="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>